<section class="contacts">
  <div class="contacts__container container" >
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__wrap">

      <div class="contacts__wrap-left" id="map">

        <button class="contacts__wrap-left-open tooltip btn-reset">
          <!-- <span class="tooltip-text">посмотреть адресс студии</span> -->
          <img loading="lazy" src="img/mapOpen.svg" class="contacts__wrap-left-open-image " width="20" height="20" alt="кнопка подсказка открытия адреса">
        </button>




        <div class="contacts__die" data-die="die">
          <div class="contacts__die-content">
            <button class="contacts__die-content-button btn-reset">
              <img loading="lazy" src="img/close.svg" class="contacts__die-content-button-close" width="20" height="20" alt="кнопка закрывания окна адреса">
            </button>
            <div class="contacts__die-content-wrap">
              <h2 class="contacts__die-content-wrap-title">
                Студия «High pass»
              </h2>
              <p class="contacts__die-content-wrap-text">
                107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82
              </p>
              <a href="#" class="contacts__die-content-wrap-link">
                <img loading="lazy" src="img/tube.svg" class="contacts__die-content-wrap-link-image" width="16" height="16" alt="телефонная трубка">
                <span class="contacts__die-content-wrap-link-tel">+7 495 424-23-532</span>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="contacts__wrap-right">
        <h3 class="contacts__wrap-right-title">Оставить заявку</h3>
        <p class="contacts__wrap-right-text">Оставьте ваши данные, указав в графе «Комментарий» желаемые время и дату съёмки или другого мероприятия</p>
        <form action="#" class="contacts__form">

          <label class="contacts__form-label">
            <input type="text" name="Имя" class="input-reset input-name contacts__form-input" placeholder="Имя">
          </label>

          <label class="contacts__form-label">
            <input type="email" name="Email" class="input-reset input-email contacts__form-input" placeholder="Email">
          </label>

          <textarea class="input-reset contacts__form-input-comment" name="Комментарий" cols="30" rows="10"placeholder="Комментарий"></textarea>

          <button class="btn-reset contacts__form-btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>



