<section class="hero">
  <h1 class="visually-hidden">Фотостудия High Pass</h1>
  <div class="hero__container container">

    <div class="hero__left">
      <picture>
        <source srcset="img/img_hero1.webp" type="image/webp">
        <img loading="lazy" src="img/img_hero1.jpg" class="hero__left-image" width="630" height="630" alt="фото руки с фотоаппаратом">
      </picture>
      <span class="hero__left-label">#мастеркласс</span>
      <div class="hero__left-content">
        <p class="hero__left-text">Мастер-класс от Игоря Робова</p>
        <h2 class="hero__left-title">Неоновый фотосет 2.0 7 июля 20:00</h2>
        <button class="hero__left-btn btn-reset">Узнать больше</button>
      </div>
    </div>

    <h3 class="hero__right-title">Работы участников предыдущего мастер-класса</h3>

    <a href="#" class="hero__right-link">
      <picture>
        <source srcset="img/img_hero2.webp" type="image/webp">
        <img loading="lazy" src="img/img_hero2.jpg" class="hero__right-top-image" width="630" height="300" alt="фото девушки 1">
      </picture>
    </a>
    <a href="#" class="hero__right-link-bottom-left">
      <picture>
        <source srcset="img/img_hero3.webp" type="image/webp">
        <img loading="lazy" src="img/img_hero3.jpg" class="hero__image hero__right-bottom-left-image" width="300" height="257" alt="фото девушки 2">
      </picture>
    </a>
    <a href="#" class="hero__right-link-bottom-right">
      <picture>
        <source srcset="img/img_hero4.webp" type="image/webp">
        <img loading="lazy" src="img/img_hero4.jpg" class="hero__image hero__right-bottom-right-image" width="300" height="257" alt="фото девушки 3">
      </picture>
    </a>
  </div>


</section>


