<ul class="header__nav-list list-reset">
  <li class="header__nav-item">
    <a class="header__nav-link" href="#">О студии</a>
  </li>
  <li class="header__nav-item">
    <a class="header__nav-link" href="#">Наши проекты</a>
  </li>
  <li class="header__nav-item">
    <a class="header__nav-link" href="#">Услуги</a>
  </li>
  <li class="header__nav-item">
    <a class="header__nav-link" href="#">Мастер-классы</a>
  </li>
  <li class="header__nav-item">
    <a class="header__nav-link" href="#">Контакты</a>
  </li>
</ul>
